ion-content {
    --background: url(/assets/bg.gif) no-repeat center/cover fixed;
  }
  
.content {
    font-size: 17px;
}

.root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

.bt{
    margin-top: -25px;
}

.img{
    text-align: center;
    max-width: 33%;
    margin-top: 5%;
    margin-left: 33%;
}