<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>รายการฝาก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

<div>
  <ion-card class="root" *ngFor="let animal of animals" color="non">
    <img class="img" src="assets/icon/cat1.jpg"/>
    <ion-card-header>
      <ion-card-title>ข้อมูลสัตว์เลี้ยง</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div>ชื่อ : {{ animal.anm_name }}  ประเภท : {{ animal.p_category }}</div>
        <div>อายุ : {{ animal.anm_age }} เดือน  สายพันธุ์ : {{ animal.anm_species }}</div>
        <div>ลักษณะพิเศษ : {{ animal.anm_special_features }}</div>
        <div>เพศ : {{ animal.anm_gender }} สีลำตัว : {{ animal.anm_color }}</div>
        <div>อาหารที่ชอบ : {{ animal.anm_favorite_food }}</div>
        <div>อาหารที่แพ้ : {{ animal.anm_food_allergy }}</div>
        <div>นิสัยสัตว์เลี้ยง : {{ animal.anm_character }}</div>
        <div>ความสามารถพิเศษ : {{ animal.anm_talent }}</div>
        <div>โรคประจำตัว : {{ animal.anm_congenital_disease }}</div>
        <div>ข้อมูลเพิ่มเติม : {{ animal.anm_more }}</div>
    </ion-card-content>
    <ion-button
            color="success"
            expand="block"
            size="small"
            routerLink="/deposit/{{ animal.anm_id }}">
            ฝากสัตว์เลี้ยง
    </ion-button>
    <ion-button 
            color="success"
            expand="block"
            size="small"
            (click)="del(animal.anm_id)">
            ฝากสำเร็จ
    </ion-button>
  </ion-card>
</div>

</ion-content>
